<h1>Welcome to Craigstr<h1>

<div class="home-forms">
  <div class="home-form">
    <%= render "sign_up", user: @user %>
  </div>
  <div class="home-form">
    <%= render "sign_in" %>
  </div>
</div>
