<h1>Categories</h1>

<div>
  <% if current_user.admin? %>
    <%= link_to "New Category", new_category_path %>
  <% end %>
</div>

<% @categories.each do |category| %>
  <ul>
    <li><%= category.name %></li>
  </ul>
  <div>
    <% if current_user.admin? %>
      <%= link_to "Edit Category", edit_category_path(category) %>
      <%= link_to "Delete Category", category, method: :delete %>
    <% end %>
  </div>
<% end %>
